{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% for post in posts %}
                    {% include '_post.html' %}
                {% endfor %}
            </div>
            <div class="col-md-6">
                {% for user in users %}
                    {% include '_user.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}